body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.addItem {
  margin-left: 40px;
}

.block {
  width: 300px;
  padding: 30px 10px;
  border: 2px solid purple;
  border-radius: 5%;
  position: relative;
  z-index: 1;
}

.block:before {
  content: "";
  position: absolute;
  border-radius: 5%;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("./w-qjCHPZbeXCQ-unsplash.jpg") center center;
  background-size: cover;
  opacity: .4;
}

.selected {
  background: rgba(255, 192, 203, 0.51);

}

button {
  margin-left: 20px;
  color: #740a43;
  background-color: rgb(255, 167, 200);

}

.item {
  display: inline-block;
  width: 170px;
}

ul {
  list-style-type: circle;
  color: #740a43;
}

li {
  width: 250px;
  height: 40px;
  line-height: 30px;
  padding: 4px;
}

a {
  text-decoration: none;
  line-height: 30px;
  font-size: 20px;
  text-align: center;
  padding: 5px;
}

label {
  position: relative;
}

small {
  position: absolute;
  top: 15px;
  font-size: 11px;
}
